<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Task  Manager</title>
    <link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

    <table >
        <tr>
            <td></td>
            <td  width="600">
                <div>
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td >
                               Welcome To Task Manager 
                            </td>
                        </tr>
                        <!--<tr>
                            <div style="border-top:3px solid #00ff21">&nbsp;</div>
                        </tr>-->
                        <tr>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            Hi <strong>{UserName}</strong> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>UserName :</b>{UserName}<br />
                                            <b>Password :</b>{Password}<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td >
                                            <a href={Url} >Sign Up my account</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td >
                                            Thanks for choosing Company Inc.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
               
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>
